.main {
    background: #f0f2f5;
    height: 100vh;
}

.box {
    background: #fff;
    margin: 0 auto 30px auto;
    background-color: #fff;
    box-sizing: border-box;
    padding: 16px;
    padding-top: 0;
    position: relative;
    width: 432px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    border-radius: 8px;
}

.text {
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    box-sizing: border-box;
    padding: 10px 16px;
    width: 432px;
}

.paragraph:first-child {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    font-weight: 600;
}

.paragraph:nth-child(2) {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #606770;
}

.form {
    border-top: 1px solid #dadde1 !important;
    padding: 16px !important;
    flex-direction: row !important;
    justify-content: center;
    flex-wrap: wrap;
}

.input:nth-child(1) {
    margin-right: 8px;
    width: 194px;
    order: 1
}

.input:nth-child(2) {
    width: 194px;
    order: 2
}

.input:nth-child(3),
.input:nth-child(4) {
    width: 395px;
    order: 3
}



.input:nth-child(6),
.input:nth-child(7) {
    margin-left: 10px;
}

.input:nth-child(5),
.input:nth-child(6),
.input:nth-child(7) {
    width: 125px;
    order: 5
}

.input:nth-child(8),
.input:nth-child(9),
.input:nth-child(10) {
    display: flex;
    align-items: center;
    width: 103px;
    border: 1px solid #ccd0d5;
    font-weight: normal;
    height: 36px;
    margin: 8px 6px 6px;
    padding: 0 10px;
    border-radius: 4px;
    order: 7
}

.input:nth-child(8) {
    margin-left: 0;
}

.input:nth-child(10) {
    margin-right: 0;
}

.input:nth-child(8) fieldset,
.input:nth-child(9) fieldset,
.input:nth-child(10) fieldset {
    display: none;
}

.label {
    color: #1c1e21 !important;
    display: inline-block;
    font-size: 15px !important;
    line-height: 36px !important;
    width: 100%;
}

.input:nth-child(12) p,
.input:nth-child(13) p {
    color: #606770;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 2px;
}

.input:nth-child(12) p svg,
.input:nth-child(13) p svg {
    width: 12px;
    height: 12px;
    color: #e2e4e5;
    background: #606770;
    border-radius: 50%;
}

.input:nth-child(12) {
    order: 4;
    width: 100%;

}

.input:nth-child(13) {
    order: 6;
    width: 100%;

}

.input:nth-child(14) p,
.input:nth-child(15) p {
    color: #777;
    font-size: 11px;
    margin: 1em 0;
    order: 8
}

.input:nth-child(14) a,
.input:nth-child(15) a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}

.input:nth-child(14) a:hover,
.input:nth-child(15) a:hover {
    text-decoration: underline;
}


.input:nth-child(14),
.input:nth-child(15) {
    order: 8
}

.input:nth-child(11) {
    order: 9
}

.input:nth-child(11) input {
    background: none;
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    overflow: hidden;
    padding: 0 32px;
    width: 140px;
    cursor: pointer;
    display: block;
    text-align: center;
    line-height: 36px;
    text-transform: none;
    order: 9
}

.input:nth-child(11) input:hover {
    opacity: 0.8;
    outline: none;
}

.input:nth-child(16) {
    padding-top: 10px;
    margin-top: 10px;
    color: #1877f2;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
    order: 10
}